.dataLoadingContainer {
    min-height: 80vh;

    .csvTitle {
        margin:30px;
        padding: 30px;
        text-align: center;        
        background-color: #79969f;
        border-radius: 5px;
        color: #343a40;
    }

    .fileUploadContainer {
        text-align: center;
        .utfStatement {
            text-decoration: underline;
        }
    }
    
    .logs{
        background-color: #ffffe1;
        border: 1px solid black;
        height: 44vh;
        width: 70%;
        margin: auto;
        overflow: auto;
    
       ul {
            list-style-type: none;        
        }
    }
}