.titleContainer {
h3 {
    text-align: center;
    background-color: #4d814c;
    border: 1px solid #000000;
}
.title {
    margin:30px;
    padding: 20px;
    text-align: center;
    // font-weight: bold;
    border: 2px solid #000000;
    background-color: grey;
}

// .column {
//     border: 1px solid #000000;
// }
}