.titleContainer {
    min-height: 80vh;
h3 {
    text-align: center;
    background-color: #79969f;
    color: #343a40;
    // border: 1px solid #343a40;  
    border-radius: 5px;     
}
.title {
    margin:30px;
    padding: 30px;
    text-align: center;
    // font-weight: bold;
    // border: 2px solid #343a40;
    background-color: #79969f;
    border-radius: 5px;
    color: #343a40;
}

.row {
    margin-top: 50px;
    button {
        margin-top: 10px;
        background-color: #343a40;        
        transition-duration: 0.4s;
        box-shadow: none;
        border-radius: 5px;
        border: 0px solid;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
        a {
            text-decoration: none; 
            color: #79969f;
        }
    }
    button:hover {
        background-color: #79969f;
        a {            
            color: #343a40;
        }
      }
}



// .selector {
//     border: 1px solid #343a40;
//     border-radius: 7px;
// }
// .column {
//     border: 1px solid #000000;
// }
}

.downloadLink, .csvTitle {
    display: block ;
}

.diffButton, .statusButton {
    margin-top: 40px;
}

.csvButton {
    
        background-color: #343a40 !important; 
        border: 0px solid !important;       
        transition-duration: 0.4s !important;
        color: #79969f !important;        
    }
    .csvButton:hover {
        background-color: #79969f !important;
        color: #343a40 !important;
        
      }

