.not_found_container{
    min-height: 80vh;
    text-align: center;

    h1 {
        margin:30px;
        padding: 30px;
        background-color: #79969f;
        border-radius: 5px;
        color: #343a40;
        margin-top: 50px;        
    }
}