.navbarContainer {
    justify-content: space-between !important;
//     span {
//         text-align: right;
//     }
//     padding: 10px;
//     background-color: lighten($color: #000000, $amount: 0);
//     a:not(:last-child) {
//         margin: 10px;
//         border-right: 1px solid #007BFF;
//         padding-right: 10px;
//     }

//     a:link, a:visited {
//         // background-color: #f44336;
//         // color: white;
//         // padding: 14px 25px;
//         // text-align: center;
//         text-decoration: none;
//         // display: inline-block;
//       }
      
//       a:hover, a:active  {
//         text-decoration: underline;
//         color: #007BFF;
      }

    

    .navbar-nav {
        display: inherit;

        a {
            text-decoration: none;
            color: #ffffe1;
            -webkit-transition: border 200ms ease-out;
            -moz-transition: border 200ms ease-out;
            -o-transition: border 200ms ease-out;
            transition: border 200ms ease-out;
            border-bottom: 1.5px solid transparent;
            // border-top: 1.5px solid transparent;
            padding: 2px;
            display: inline-block !important;
        }

        a:hover,
a:focus,
a:active, .active {
    border-bottom: 1.5px solid #ffffe1;
    // border-top: 1.5px solid #ffffe1;
}
        
        
        // .active {
        //     padding-bottom: 0px;
        //     border-bottom: #ffffe1 0.125em solid;
        //     // text-decoration: underline;
        // }
    }

    // .navbarText {
    //     float: right;
    // }
   img {
        margin-right: 10px;
    }

// }