.navbarContainer {
    justify-content: space-between !important;
//     span {
//         text-align: right;
//     }
//     padding: 10px;
//     background-color: lighten($color: #000000, $amount: 0);
//     a:not(:last-child) {
//         margin: 10px;
//         border-right: 1px solid #007BFF;
//         padding-right: 10px;
//     }

//     a:link, a:visited {
//         // background-color: #f44336;
//         // color: white;
//         // padding: 14px 25px;
//         // text-align: center;
//         text-decoration: none;
//         // display: inline-block;
//       }
      
//       a:hover, a:active  {
//         text-decoration: underline;
//         color: #007BFF;
      }

    

    .adminNavbar {
        display: inherit;        
    }

    // .navbarText {
    //     float: right;
    // }
    .BB_logo {
        margin-top: 5px;
    }

// }